<% layout("/layouts/boilerplate") %>
<h1 class="mt-3">Welcome to the official page of Easy Rest&nbsp;&nbsp;<i class="fa-regular fa-compass"></i></h1>
<br>
<br>
<br>
<br>
<br>
<h4>Where do you want to navigate:</h4>
<br>
<div>
	<ul>
		<li class="list"><a href="/listings" class="anch">See all listings</a></li>
		<br>
		<li class="list"><a href="/listings/new" class="anch">Create new listing</a></li>
	</ul>
</div>