<% layout("/layouts/boilerplate") %>
<style>
	#filters {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.filter {
		margin-top: 2rem;
		text-align: center;
		margin-right: 2rem;
		opacity: 0.7;
		transition: 0.2s;
	}
	.filter-link {
        text-decoration: none;
        color: inherit;
    }
	.filter:hover {
		opacity: 2;
		cursor: pointer;
	}
	.filter p{
		font-size: 0.8 rem;
	}
	.tax-info{
		display: none;
	}
	.tax-toggle{
		border: 1px solid black;
		border-radius: 1rem;
		height: 3.2rem;
		padding: 1rem;
		margin-left: 5rem;
		display: flex;
		align-items: center;
	}
</style>
<div id="filters">
    <a href="/listings?category=Trending" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
    </a>

    <a href="/listings?category=Rooms" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
    </a>

    <a href="/listings?category=Iconic Cities" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
    </a>

    <a href="/listings?category=Mountains" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
    </a>

    <a href="/listings?category=Pools" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pools</p>
        </div>
    </a>

    <a href="/listings?category=Camping" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
    </a>

    <a href="/listings?category=Farms" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
    </a>

    <a href="/listings?category=Arctic" class="filter-link">
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
    </a>
    <div class="tax-toggle">
    	<div class="form-check-reverse form-switch">
		  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
		  <label class="form-check-label" for="switchCheckDefault">Display Total After Taxes</label>
		</div>
    </div>
</div>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 overflow-scroll mt-3">
	<% for(let listing of allListings) { %>
	<a href="/listings/<%= listing._id %>" class="listing-link">
		<div class="card listing-card col">
			<img 
				src="<%= listing.image.url %>" 
				class="card-img-top" 
		   	  alt="listing_image" 
				style="height: 20rem"
			>
		   <div class="card-img-overlay"><b>Easy Rest</b></div>
		  <div class="card-body">
		    <p class="card-text">
		    	<b><%= listing.title %></b><br>
		    	&#8377;<%= listing.price.toLocaleString("en-IN") %> /night
		    	<i class="tax-info"> &nbsp;&nbsp;+18% GST</i>
		    </p>
		  </div>
		</div>
	</a>
	<% } %>	
</div>

<script>
	let taxSwitch = document.getElementById("switchCheckDefault");
	taxSwitch.addEventListener("click", () => {
		console.log("Toggle clicked!");
		let taxInfo = document.getElementsByClassName("tax-info");
		for(let info of taxInfo) {
			if(info.style.display != "inline"){
				info.style.display = "inline";
			}else{
				info.style.display = "none";
			}
		}
	}) ;
</script>

