<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
	<h1 class="col-8 offset-3">SignUp on EasyREST</h1>
	<div class="col-8 offset-3">
		<form action="/signup" method="POST" class="needs-validation" novalidate>
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input 
					name="username", 
					id="username", 
					type="text" 
					class="form-control"
					required 
				>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label for="email" class="form-label" placeholder="Enter email">Email</label>
				<input 
					name="email", 
					id="email", 
					type="email" 
					class="form-control"
					required 
				>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label" placeholder="Enter password">Pasword</label>
				<input 
					name="password", 
					id="password", 
					type="password" 
					class="form-control"
					required 
				>
				<div class="invalid-feedback">Password Required..</div>
			</div>
			<button class="btn btn-success">Signup</button>
			
		</form>
	</div>

</div>